
<div class=" blockLinksContainer">
<div class="container-fluid">
<div class="blockLinks">
    <div class="listWebpart">
        <h2>
            
            <div id="ctl00_m_g_797aacd6_baf4_4b1d_886c_894e9ca53530_pnlHeaderWithoutLink">
		
                LCC List Display
            
	</div>
        </h2>
        <div class="freeContentArea">
          
          
        </div>
        
                <ul>
            
                <li>
                    
                    <a href="http://www.breezeleeds.org/AboutBreeze/Pages/Breezecard.aspx">
                        <img src="/public/images/icon-star.png" style="border-width:0px;">
                        Breezecard</a>
                </li>
            
                <li>
                    
                    <a href="http://www.breezeleeds.org/AboutBreeze/Pages/Breeze-Active.aspx">
                        <img src="/public/images/icon-trainer.png" alt="Icon of trainer" style="border-width:0px;">
                        Breeze Active</a>
                </li>
            
                <li>
                    
                    <a href="http://www.breezeleeds.org/AboutBreeze/Pages/Friday-and-Saturday-night-project.aspx">
                        <img src="/public/images/icon-games.png" alt="Icon of games controller" style="border-width:0px;">
                        Fri / Sat Night Projects</a>
                </li>
            
                <li>
                    
                    <a href="http://www.breezeleeds.org/AboutBreeze/Pages/Breeze-on-Tour.aspx">
                        <img src="/public/images/inflatable-01.png" alt="Icon of music notes" style="border-width:0px;">
                        Breeze On Tour</a>
                </li>
            
                <li>
                    
                    <a href="http://www.breezeleeds.org/AboutBreeze/Pages/Breeze-Arts-Festival.aspx">
                        <img src="/public/images/icon-music.png" alt="Icon of music notes" style="border-width:0px;">
                        Breeze Arts Festival</a>
                </li>
            
                <li>
                    
                    <a href="http://www.breezeleeds.org/AboutBreeze/Pages/Breeze-has-Talent.aspx">
                        <img src="/public/images/icon-mic.png" alt="Icon of microphone" style="border-width:0px;">
                        Breeze Has Talent</a>
                </li>
            
                <li>
                    
                    <a href="http://www.breezeleeds.org/AboutBreeze/Pages/Breeze-sports-academy.aspx">
                        <img src="/public/images/icon-football.png" alt="Icon of football" style="border-width:0px;">
                        Breeze Sports Academy</a>
                </li>
            
                <li>
                    
                    <a href="http://www.breezeleeds.org/AboutBreeze/Pages/Breeze-Arts-Foundation.aspx">
                        <img src="/public/images/icon-arts.png" alt="Icon of theatre masks" style="border-width:0px;">
                        Breeze Arts Foundation</a>
                </li>
            
                </ul>
            
        <div class="clear"></div>
    </div>
</div>
</div>
</div>