<div class="container">
        <div id="ctl00_m_g_52c0f7dc_1376_4090_a729_dcd5288e3b46">
	
<div class="breezePolaroid tiltRight">
    <div class="listWebpart">
        <h2>
            <div id="ctl00_m_g_52c0f7dc_1376_4090_a729_dcd5288e3b46_pnlHeaderWithLink">
		
                <a href="https://childfriendlyleeds.wordpress.com/">
                    <img id="ctl00_m_g_52c0f7dc_1376_4090_a729_dcd5288e3b46_imgWithLink" src="/public/images/CFLlogo.jpg" style="border-width:0px;">Child Friendly Leeds</a>
            
	</div>
            
        </h2>
        <div class="freeContentArea">
          
          <p>Making Leeds child friendly</p>
        </div>
        
                <ul>
            
                </ul>
            
        <div class="clear"></div>
    </div>
</div>

</div><div id="ctl00_m_g_36c2f3ab_3e0b_4194_9fce_ebbd50262837">
	
<div class="breezePolaroid tiltLeft">
    <div class="listWebpart">
        <h2>
            <div id="ctl00_m_g_36c2f3ab_3e0b_4194_9fce_ebbd50262837_pnlHeaderWithLink">
		
                <a href="/AboutBreeze/Pages/Breeze-on-Tour.aspx">
                    <img id="ctl00_m_g_36c2f3ab_3e0b_4194_9fce_ebbd50262837_imgWithLink" src="/public/images/Football.jpg" style="border-width:0px;">Breeze on Tour</a>
            
	</div>
            
        </h2>
        <div class="freeContentArea">
          
          <p>Summer fun!</p>
        </div>
        
                <ul>
            
                </ul>
            
        <div class="clear"></div>
    </div>
</div>

</div><div id="ctl00_m_g_9382e1dc_ec15_414a_a504_bc5a88f668b6">
	
<div class="breezePolaroid tiltRight">
    <div class="listWebpart">
        <h2>
            <div id="ctl00_m_g_9382e1dc_ec15_414a_a504_bc5a88f668b6_pnlHeaderWithLink">
		
                <a href="/AboutBreeze/Pages/Breezecard.aspx">
                    <img id="ctl00_m_g_9382e1dc_ec15_414a_a504_bc5a88f668b6_imgWithLink" src="public/images/breezecardSQ.jpg" style="border-width:0px;">Breezecard</a>
            
	</div>
            
        </h2>
        <div class="freeContentArea">
          
          <p>Have you got yours?</p>
        </div>
        
                <ul>
            
                </ul>
            
        <div class="clear"></div>
    </div>
</div>

</div><div id="ctl00_m_g_0b126030_4b41_4e72_bc3f_2cec5b4ea0b4">
	
<div class="breezePolaroid tiltLeft">
    <div class="listWebpart">
        <h2>
            <div id="ctl00_m_g_0b126030_4b41_4e72_bc3f_2cec5b4ea0b4_pnlHeaderWithLink">
		
                <a href="/AboutBreeze/Pages/Breeze-Arts-Festival.aspx">
                    <img id="ctl00_m_g_0b126030_4b41_4e72_bc3f_2cec5b4ea0b4_imgWithLink" src="/public/images/BAF2014.jpg" style="border-width:0px;">Breeze Arts Festival</a>
            
	</div>
            
        </h2>
        <div class="freeContentArea">
          
          <p>Get creative!</p>
        </div>
        
                <ul>
            
                </ul>
            
        <div class="clear"></div>
    </div>
</div>

</div> 
    </div>