{% extends "layout_multi_sections.html" %}

{% block page_title %}
About us
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

{% block main_nav %}
  {% include "includes/main_nav.html" %}   
{% endblock %}   

{% block header %}
<h1>About us</h1>
{% endblock %}
 
 {% block sectionOneTop %}

{% endblock %} 

{% block sectionOneFull %}  
{% endblock %}



 {% block breadcrumb %}
 {% include "includes/breadcrumb_sp.html" %}

 {% endblock %}

{% block sectionOneContent %}

<article>
                      <div id="ctl00_PlaceHolderMain_articleContent__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_articleContent_label"><p>BreezeLeeds.org is the website for all children and young people aged 0-19 from Leeds (and their families) who are looking for positive things to do. We gather everything we can find out together here&nbsp;in one place&nbsp;and then you can use our <a href="/">online events&nbsp;finder on the home page</a> or&nbsp;scroll through the&nbsp;<a href="/News">latest news and opportunities</a>&nbsp;or just browse through the site to find out everything.</p>
<p>Although BreezeLeeds.org is run by Leeds City Council the information included here comes from all sorts of organisations and partners working positively with children, young people and their families in Leeds, not just the Council. </p>
<p>You can be confident that we have checked the quality of the activities and the qualifications of the organisations to provide events and and activities for children and young people in advance. Everyone who posts information on the website is an active&nbsp;member of <a href="http://www.breezeculturenetwork.org/">BreezeCultureNetwork.org</a> and has already&nbsp;provided information to us about their safeguarding and equality policies and procedures.</p>
<p>Breeze also organises lots of events - like <a href="/AboutBreeze/Pages/Breeze-on-Tour.aspx">Breeze on Tour</a>, <a href="/AboutBreeze/Pages/Breeze-Arts-Festival.aspx">Breeze Arts Festival</a>,&nbsp;<a href="/AboutBreeze/Pages/Breeze-on-Tour.aspx">Mini-Breeze</a>,&nbsp;<a href="/AboutBreeze/Pages/Breeze-has-Talent.aspx">Breeze Has Talent</a>, <a href="/AboutBreeze/Pages/Friday-and-Saturday-night-project.aspx">Breeze Friday Night and Saturday Night Projects</a>.&nbsp;</p>

<h2 class="ms-rteElement-H2">Get involved with Breeze</h2>
<p>Check out the <a href="/">online event finder on our home page </a>to find&nbsp;out what's&nbsp;going on near you&nbsp;- or anywhere across Leeds.</p>

<p>Get&nbsp;your free <a href="/AboutBreeze/Pages/Breezecard.aspx">BreezeCard</a>.&nbsp; It’s your library card, Breeze events ticket, discount card and the key to all things Breeze. You'll get fast track entry to Breeze events, and events organised by our partners, and priority or access to promotions.</p>

<p>Get down to the scorching <a href="/AboutBreeze/Pages/Breeze-on-Tour.aspx">Breeze on Tour </a>and <a href="/AboutBreeze/Pages/Breeze-on-Tour.aspx">Mini Breeze </a>events during your school holidays.</p>

<p>Get involved with <a href="/AboutBreeze/Pages/Breeze-Arts-Festival.aspx">Breeze Arts Festival</a>; get creative with&nbsp;showcases and performances for and by the young people of Leeds. </p>

<p>Tell Breeze what you think on our <a href="/Pages/contactus.aspx">contact us page</a>. </p>

<h2 class="ms-rteElement-H2">Share your information on Breeze</h2>
<p>Breeze can help organisations share information with children and young people. We can your activities in the event&nbsp;search section, share your news and photos or spread the word about offering vouchers and discounts to BreezeCard holders. You can also talk to other organisations working with children and young people in Leeds and further afield in Yorkshire &amp; Humber. All you need to do is sign up to <a href="http://www.breezeculturenetwork.org/">BreezeCultureNetwork.org</a> and the whole Breeze world is your oyster. </p>
<p>We can also help organisations with consultation with young people and help young people have their say about things that matter to them. Email us at <a href="mailto:breeze@leeds.gov.uk">breeze@leeds.gov.uk</a>&nbsp;to find out more.</p>

<h2 class="ms-rteElement-H2">Host a Breeze event or hire our facilities and equipment</h2>
<p>The Breeze Team offers a wide range of event equipment to hire, including a variety of exciting packages. Our services include:</p>
<p>Hire of our action adventure inflatables. </p>
<p>Access to our database of approved artist practitioners.</p>
<p>Generator hire. </p>
<p>Marquee, table and chair hire. </p>
<p>Videobooth for consultation excercises.</p>
<p>Full, personal, event management expertise. </p>
<p>All events fully staffed by trained sport and youth support staff. </p>
<p>We'll work with you to&nbsp; really understand your event needs, making sure it is fun and safe!</p>

<h2 class="ms-rteElement-H2">Our Hire Packages</h2>
<p>We have a variety of hire packages to offer, our two most popular are: </p>

<p>Mini Breeze - this is a fantastic event for under 19s in local areas, kitted out with our infltables, arts and music van, arts and crafts and information stalls. </p>

<p>The Ultimate Team Challenge - a fantastic event, perfect for any school to assist in transitition into high school or into sixth form. It is also works well as a reward package for pupils at the end of year. <a href="/Documents/Team_Challenge_low_res.pdf">Download a leaflet here</a>.</p>

<p>Alternatively we can work with you to build a bespoke event, we can help enhance a local fate, community gala, fun day and more. Select from our 'pick n mix' range and choose what equipment suits your needs. We have over 24 different exciting inflatables, not to mention our Cage Football and Arts and Music Vans.</p>

<p><a href="/AboutBreeze/Pages/Equipment-hire.aspx">Find out more about hiring our equipment and what's on offer here</a>.</p>

<p><a href="/AboutBreeze/Pages/Action-adventure-equipment-hire.aspx">View our range of equipment here</a>.</p> </div>


                       <div id="ctl00_PlaceHolderMain_articleContent_label" style="display:none">Page Content</div><div id="ctl00_PlaceHolderMain_articleContent__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_articleContent_label"><p>&#8203;<img class="ms-rtePosition-2" src="http://www.breezeleeds.org/PublishingImages/page%20images/Care%20Leavers.jpg" alt="" style="margin:5px; float:right">The Voice, Influence and Change Team (VIC) are based within the Children's Services department of Leeds City Council. <a href="/Documents/VIC_leaflet_July_2014_FINAL__3.pdf">To find out more download our VIC team leaflet.</a></p>
<p>We are here to enable children, young people and families to be involved in local decision making and we run a variety of projects and programmes including<br><br>Working with looked after young people<br>Leeds Children's Mayor<br>UK Youth Parliament<br>Working with children and young people with additional needs<br>Leeds Youth Council<br>Leeds Junior Safeguarding Board<br>Child friendly Leeds Junior Advisors</p>
<p><br>To find out more about the work of the Voice, Influence and Change Team please email us at: <a href="mailto:vic@leeds.gov.uk">vic@leeds.gov.uk</a>&nbsp;<br></p>
<p class="ms-rteFontSize-5 ms-rteThemeForeColor-5-3"><span>Wanted!</span> </p>
<p>Children and young people to become young advisors. We are looking for 8 to 18 year olds (up to 25 with additional needs) to join our ‘Young Advisors’ Network. Download an application&nbsp;form from the link.</p>
<p><a href="/Documents/Young%20advisor%20form%20July%202015.pdf">Young Advisor Application Form </a>(PDF)</p>
<h1 class="ms-rteElement-H1"><a href="http://www.leeds.gov.uk/residents/Pages/Complaints-to-children%e2%80%99s-services.aspx">Children's Services - compliments and complaints</a></h1>
<div>If you are not happy with one of the Leeds City Council services you receive you have a right to complain. Or, if you've had a really good experience, we would love to hear your compliments.</div>
<div>&nbsp;</div>
<div>To find out more, you can download the compliments and complaints leaflets below:<br></div>
<a href="/Documents/Primary_complaints_leaflet_July_2012.pdf"><div>Primary school&nbsp;ages leaflet</div></a><a href="/Documents/Secondary_complaints_July_2012.pdf"><div>Secondary&nbsp;school ages leaflet&nbsp;</div>
<div>&nbsp;</div></a><h1 class="ms-rteElement-H1"><a href="http://www.leeds.gov.uk/residents/Pages/Leeds-local-offer.aspx">Leeds Local Offer</a></h1>
<p>Learn more about the Leeds local offer which ensures families can access clear information about all services for those aged 0-25 with SEN and disabilities <a href="http://www.leeds.gov.uk/residents/Pages/Leeds-local-offer.aspx">here</a>.&#8203;&#8203;<br></p></div> 

<ul><li>Charlotte Williams</li>
<li>Muzdalfa Ahmed</li>
<li>Liberty Branston</li>
<li>Scarlet Rowe</li></ul>

<ol><li>Charlotte Williams</li>
<li>Muzdalfa Ahmed</li>
<li>Liberty Branston</li>
<li>Scarlet Rowe</li></ol>


<div class="newsletter">
    <div>
        <h2>Subscribe to the Breeze eNewsletter</h2>
    </div>
    <div id="ctl00_m_g_0c53062f_4347_4898_a48a_bb885710d38a_SubscribePanel">
		
    <div>
        <h3>Please complete the details below</h3>
        <h3>Newsletters will be targeted to the date of birth and postcode provided</h3>
    </div>
    <div>
        <label>First name:<input name="ctl00$m$g_0c53062f_4347_4898_a48a_bb885710d38a$txtSubscribeName" type="text" id="ctl00_m_g_0c53062f_4347_4898_a48a_bb885710d38a_txtSubscribeName" title="Name" aria-required="true"></label>
    </div>
    <div>
        <label>Email address:<input name="ctl00$m$g_0c53062f_4347_4898_a48a_bb885710d38a$txtSubscribeEmail" type="text" id="ctl00_m_g_0c53062f_4347_4898_a48a_bb885710d38a_txtSubscribeEmail" title="Email" aria-required="true"></label>
    </div>
    <div>
        <label>Date of birth:<input name="ctl00$m$g_0c53062f_4347_4898_a48a_bb885710d38a$txtSubscribeDob" type="text" id="ctl00_m_g_0c53062f_4347_4898_a48a_bb885710d38a_txtSubscribeDob" title="Dob" aria-required="true" class="hasDatepicker"></label>
    </div>
    <div>
        <label>Postcode:<input name="ctl00$m$g_0c53062f_4347_4898_a48a_bb885710d38a$txtSubscribePostcode" type="text" id="ctl00_m_g_0c53062f_4347_4898_a48a_bb885710d38a_txtSubscribePostcode" title="Postcode" aria-required="true"></label>
    </div>
    <div>
        <input onclick="if (jQuery('#aspnetForm').valid()) { return true; } else { return false; } if (typeof(Page_ClientValidate) == 'function') Page_ClientValidate(''); " name="ctl00$m$g_0c53062f_4347_4898_a48a_bb885710d38a$ctl00" type="submit" value="Submit" class="submit">
    </div>
    
	</div>

    <div>
        
    </div>
</div>

<h2>Faqs</h2>
{% include "includes/design-patterns/accordion.html" %}   
<h2>More info</h2>
{% include "includes/design-patterns/accordion.html" %}   

</article>
{% endblock %}

{% block sectionOneRightHandColumn %}

			<ul class="sideNav">
				<li><a  href="/HaveYourSay/Pages/default.aspx">Have Your Say</a></li>
				<li><a  href="/HaveYourSay/Pages/Voice-and-Influence-Team.aspx">Voice and Influence Team</a></li>
        <li><a  href="/HaveYourSay/Pages/VIC-Newsletters.aspx">Voice and Influence Newsletters</a></li>
        <li><a  href="/HaveYourSay/Pages/Leeds-Youth-Council.aspx">Leeds Youth Council</a></li>
        <li><a  href="/HaveYourSay/Pages/Leeds-Childrens-Mayor.aspx">Leeds Children's Mayor</a></li>
        <li><a  href="/HaveYourSay/Pages/Voice-and-Influence-for-Children-Looked-After.aspx">Voice and Influence for Looked After Children</a></li>
        <li><a class="selected" href="/HaveYourSay/Pages/UK-Youth-Parliament-Leeds.aspx">UK Youth Parliament - Leeds</a></li>
        <li><a  href="/HaveYourSay/Pages/Active-Citizenship.aspx">Active Citizenship</a></li>
			  </li>
			</ul>


</div>


{% endblock %}

{% block sectionOneFullBottom %} 
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull %}

{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
  
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

  <div class="errorContainer">
        <div class="errorBrand"></div>
        <img src="http://www.breezeleeds.org/_layouts/images/LCC.Breeze.SharePoint.Branding/sadFace.png">
        <h4>Sorry, this page isn’t available!</h4>    
        <a href="index.html">Go To Homepage</a>
    </div>
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
  
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
{% endblock %}

{% block sectionFiveThirdCol2 %}
{% endblock %}

{% block sectionFiveThirdCol3 %}
{% endblock %}

{% block footer_nav %}
{% include "includes/main_nav.html" %}
{% endblock %}